{% extends 'head.html' %}

{%block mypage%}

<h1>Welcome to Books Management System !</h1>
<h3>Excellent Service and Made Book handling easier!!</h3>
<body>
    <blockquote <b> Search books and view all book details!</b></blockquote>

    <blockquote <b> Entry new book details, update and delete if anything is wrong!!</b></blockquote>

    <blockquote <b> Books handling is handy now with our Management System!</b></blockquote>

        <blockquote <b>Contact us: +91-9895464645</b></blockquote>
</body>


{%endblock%}
