h1 { color:rgb(7, 1, 19);text-align:center; text-align:center;}

h3 { color:rgb(94, 40, 4);text-align:center; text-align:center;}
body {
    background: linear-gradient(#075b80, #e1e8eb);
    height: 100vh;
background-size: 100% 100%;
  text-align: center;
color:black}

